@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.dashboard {
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* Dos filas */
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  grid-gap: 30px; /* Espacio entre los gráficos */
  margin-top: 40px;
}

.chart {
  width: 600px;
  height: 300px; /* Altura reducida de los gráficos */
  align-self: center; /* Centrar verticalmente */
  justify-self: center;
  border: 1px solid #ffffff; /* Añadir un borde */
  border-radius: 20px;
  padding: 30px;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.chart:nth-child(2),
.chart:nth-child(4) {
margin-right: 200px;
}

.chart-tittle{
  font-size: 14px;
  margin-bottom: -10px;
  margin-top: -20px;
  background-color: transparent;
}