/* Estilos para el fondo oscuro de fondo */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el modal */
.modal-edit-empleado {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  padding: 50px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
}

/* Estilos para el contenido del modal */
.modal-content.edit-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  /* Ancho del modal */
  text-align: center;
}

/* Estilos para el botón de cerrar (la "x" en la esquina) */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

/* Estilos para los campos de entrada */
.edit-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para el botón de guardar cambios */
.edit-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #3498db;
  /* Azul */
  color: white;
}

.edit-button:hover {
  background-color: #2980b9;
  /* Azul más oscuro al pasar el mouse */
}