/* Estilos para el fondo oscuro de fondo */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el modal */
.modal-edit-empleado {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 600px;
  max-width: 90%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el contenido del modal */
.edit-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

/* Estilos para el botón de cerrar (la "x" en la esquina) */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

/* Estilos para los campos de entrada */
.edit-input {
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  flex: 1;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
}

.edit-input:focus {
  outline: none;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); /* Cambia el color de la sombra */
}

.edit-input-container {
  display: flex;
  width: 100%; /* Ajusta el ancho al 100% */
  gap: 10px; /* Agrega espacio entre los elementos dentro del contenedor */
}

.edit-input-container-2 {
  width: 100%; 
  display: flex;
  /* Ajusta el ancho al 100% */
}

/* Estilos para el botón de guardar cambios */
.edit-button {
  padding: 10px 20px;
  margin-top: 30px;
  border: none;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  background-color: #000000 !important;
  color: #ffffff;
}

.edit-button:hover {
  background-color: #333 !important;
}
